.App {
  text-align: center;
  background-color:#404147;
  min-height: 100vh;
  color: white;
  margin: 0;
  /* padding: 50px; */
}

.About-Container{
  background-color:  #404147;
  min-height: 100vh;
  margin: 0;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  grid-gap: 20px
}

.red {
  color: red;
}
.orange {
  color: orange;
}
.rate-container {
  border-top: 2px solid orange;
}

.rate-container span.fa {
  font-size: 2em;
  cursor: pointer;
}
.product-item {
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.product-item span {
  font-size: 1.2em;
  margin: 16px 5px;
}

button {
  color: #444444;
  background-color: rgb(121, 204, 196);
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 1em;
  outline: none;
  margin-left: 1rem;
}

button:disabled {
  color: #f3f3f3;
  background-color: rgb(121, 204, 196);
  cursor: not-allowed;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  font-size: 0.83em;
}
h2 {
  margin: 0;
  font-size: 1.5em;
  color: rgb(156, 243, 234)
}
.fa-trash {
  color: rgb(20, 172, 156);
}
.fa-edit {
  color: turquoise;
}
h1 {
  color: turquoise;
  font-size: 3.5em;
}



.login-container {
  width: 50%;
  margin: 50px 25%;

}

.color-me{
  color: white;
}

h4 {
  color: rgb(106, 218, 206);
  font-size: 2em;
  margin-left: 15rem;
}

h5 {
  color: rgb(106, 218, 206);
  font-size: 1.5em;
  margin-left: 8rem;
}
